# Files that change all the time
HTMLDefines.h
*.chm
lastloadedfile.txt
*backupViewMacro.wmr
UnpackSmartMetDataFilesExe.exe
cp_data.bak
running_status.dat
viewmacro.dat
log.txt
*.aps
/src/SmartMet/local/control/

# 3rd party lib binaries should not be added to version control
/libs/3rd*
/*.zip

# Project specific ignores
/scripts/cmake
/scripts/git

# Variant specific configuration files
cap.conf
wms.conf
