# Files that change all the time
HTMLDefines.h
*.chm
lastloadedfile.txt
*backupViewMacro.wmr
UnpackSmartMetDataFilesExe.exe
cp_data.bak
running_status.dat
viewmacro.dat
log.txt
*.aps
/src/SmartMet/local/control/

# 3rd party lib binaries should not be added to version control
/libs/3rd*
/*.zip

# Project specific ignores
/scripts/cmake
/scripts/git

# Variant specific configuration files
# Ignore everything in the "Control" directory, except the ones you
# specify
src/SmartMet/Control/*
!src/SmartMet/Control/EditConfig/
!src/SmartMet/Control/help_data/
!src/SmartMet/Control/woml/
!src/SmartMet/Control/toolbar_editing_version.conf
!src/SmartMet/Control/toolbar_no_editing_version.conf
!src/SmartMet/Control/obs_comparison.conf
